// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$grid-columns: 12 !default;
$grid-gutter-width: 1.6rem !default;
$grid-row-columns: 6 !default;