
/* start Fonts style */
@font-face {
    font-family: "Alexandria";
    src: url('../fonts/Alexandria-VariableFont_wght.ttf');
}
/* end Fonts style */


/* start main component */

:root
{
    --background-color : #2C061F;
    --second-color:	#374045;
    --main-color:   #D89216;
    --text-color:#E1D89F;
}

body
{
    background-color: var(--background-color) !important;
}

body *
{
    font-family: "Alexandria";

}

.main-color *
{
    
    color: var(--main-color) !important;
}

.text-color *
{
    
    color: var(--text-color) !important;
}


.logo
{
    width: 64px;
}

/* end main component */

/* start most-popular */

/* .most-popular {

} */

.section .swiper {
    background-color: var(--second-color) !important;
    width: 100%;
    height: 100%;
}

.section .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: var(--background-color) !important; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    background-color: var(--background-color) !important;
    font-size: 14px;
}
/* end most-popular */




/* start product-info , product page */

.img-card img
{
    height: 220px !important;
}

.product-info
{
    color:var(--text-color)
}
/* end product-info , product page */

/* start complaince form , complince page */
form .submit button 
{
    color: var(--main-color) !important;
}

form
{
    color: var(--text-color) !important;
}


/* end complaince form , complince page */


/* products page swiper */

.products
{
    color: var(--text-color);

}

.products .swiper {
    width: 100% !important;
    height: 100% !important;
    background-color: var(--second-color) !important;
}

.products .swiper-slide {
      text-align: center;
      font-size: 18px;

      background: var(--background-color) ;
      height: calc((100% - 30px) / 2)!important;
    /* Center slide text vertically */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.products .swiper-wrapper
{
    flex-direction: row !important;
}

.products .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products a
{
    text-decoration: none;
    color: var(--text-color);
}

/* products page swiper */

/* start category page  */

.category {
    color: var(--main-color) !important;
}

.category .card{
    border: black solid .5px !important;
}

nav .pagination li *
{
    background-color: var(--background-color) !important;
}

/* end category page  */


