
/* start Fonts style */
@font-face {
    font-family: "Alexandria";
    src: url('../fonts/Alexandria-VariableFont_wght.ttf');
}
/* end Fonts style */


/* start main component */

:root
{
    --background-color : #2C061F;
    --second-color:	#374045;
    --main-color:   #D89216;
    --text-color:#E1D89F;
}

body
{
    background-color: var(--background-color) !important;
}

body *
{
    font-family: "Alexandria";

}

.main-color *
{
    
    color: var(--main-color) !important;
}

.text-color *
{
    
    color: var(--text-color) !important;
}


.logo
{
    width: 64px;
}

/* end main component */

/* start most-popular */

/* .most-popular {

} */

.swiper {
    background-color: var(--second-color) !important;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: var(--background-color) !important; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    background-color: var(--background-color) !important;
    font-size: 14px;
}
/* end most-popular */



.img-card img
{
    height: 220px !important;
}

.product-info
{
    color:var(--text-color)
}